.newsandblog {
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  .News {
    flex-wrap: wrap;
    float: left;
    margin-right: 7%;
    font-family: "montserrat";
    width: 46.5%;
    min-width: 300px;
    margin-bottom: 1rem;
    .head {
      color: #f6ab6c;
      display: flex;
      justify-content: space-between;
      h2 {
        margin: 0;
      }
      h5 {
        align-self: flex-end;
        margin: 0;
      }
    }
    .item {
      transition: all 500ms ease-in;
      display: flex;
      margin-top: 1rem;
      background: #6cb0ab1c;
      height: 161px;
      padding-bottom: 1rem;
      // border-bottom: 1px solid #68b0ab;
      .date {
        display: flex;
        flex-direction: column;
        background: #dddddd;
        color: #000;
        display: inline-block;
        margin-right: 3%;
        min-height: 108px;
        padding: 2px;
        text-align: center;
        vertical-align: top;
        width: 12%;
        align-self: centers;
        span {
          font-size: 28px;
          hr {
            background-color: #68b0ab;
          }
        }
        .month {
          border-bottom: medium none;
          font-size: 13px;
          line-height: 17px;
          padding: 9px 0;
          text-transform: uppercase;
        }
      }
      .details {
        color: #000;
        font-size: 13px;
        display: inline-block;
        line-height: 18px;
        vertical-align: top;
        width: 83.5%;
        .topic {
          margin-bottom: 0.5rem;
          font-size: 14px;
        }
        a {
          text-decoration: none;
        }
        h5 {
          font-family: "montserrat";
          margin-bottom: 0px;
          cursor: pointer;
          font-size: 20px;
          color: #8fc0a9;
        }
      }
    }
  }
  hr {
    background-color: #68b0ab;
  }
  .blog {
    float: left;
    width: 46.5%;
    font-family: "montserrat";
    flex-wrap: wrap;
    .head {
      display: flex;
      color: #f6ab6c;
      justify-content: space-between;
      h2 {
        margin: 0;
      }
      h5 {
        margin: 0;
        align-self: flex-end;
      }
    }
    .item {
      transition: all 500ms ease-in;
      cursor: pointer;
      height: 144px;
      background: #f6ab6c1f;
      margin-top: 1rem;
      display: flex;
      // background-color: #f2;
      .item-img {
        padding: 0.5rem;
        img {
          width: 7rem;
        }
      }
      .item-text {
        padding-left: 1rem;
        width: 70%;
        h3 {
          font-size: 1.2rem;
          color: #8fc0a9;
          margin-bottom: 1;
        }

        .user {
          display: flex;
          align-items: center;
          img {
            width: 1.3rem;
            height: 1.3rem;
          }
          p {
            margin: 0;
            color: #000;
            margin-left: 0.5rem;
            font-size: 10px;
            letter-spacing: 0.1rem;
            font-family: montserrat;
          }
        }
        .date {
          display: flex;
          align-items: center;
          margin-top: 0.2rem;
          margin-bottom: 1rem;
          img {
            width: 1.3rem;
            height: 1.3rem;
          }
          p {
            margin: 0;
            color: #000;
            margin-left: 0.5rem;
            font-size: 10px;
            letter-spacing: 0.1rem;
            font-family: montserrat;
          }
        }
        .article {
          margin-top: 0.2rem;
          p {
            font-size: 13px;
            color: #000;
            line-height: 1rem;
            margin-bottom: 0;
            font-family: "montserrat", sans-serif;
            span {
              color: #f90;
              font-weight: 400;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .newsandblog {
    .News {
      margin-right: 0;
      width: 100%;
    }
    .blog {
      width: 100%;
      margin-left: 0;
      .item {
        .item-text {
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }
}
@media (max-width: 1920px) {
  .blogMain {
    overflow: hidden;
    height: 146px;
  }
  .NewsMain {
    overflow-y: hidden;
    height: 146px;
  }
}
@media (max-width: 1366px) {
  .blogMain {
    overflow: hidden;
    height: 161px;
  }
  .NewsMain {
    overflow-y: hidden;
    height: 161px;
  }
}
