* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Events {
    margin-top: 3rem;
    img {
        width: 100% !important;
        height: 20rem !important;
        object-fit: cover;
    }

    .slider {
        width: 80%;
        margin: 2rem auto 10rem auto;
    }

    .event {
        width: 80%;
        margin: 0 auto;
    }

    li {
        margin-top: 1rem;
    }
    h1 {
        font-weight: 600;
    }
}