@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Vis {
  margin-top: 5rem;
}

.vision-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 200px;
}

.vision-body {
  h2 {
    font-weight: 700;
    font-size: 3.5vw;
    text-transform: uppercase;
    color: #222222d7;
  }

  p {
    text-align: justify;
    padding-right: 4%;
    margin: 2rem auto;
    font-size: 2.3vmin;
    line-height: 1.7rem;
  }
}

.quote {
  background: rgb(241, 241, 241);
  padding: 5% 0 5% 25%;
  position: relative;
  z-index: 1;
  margin: 8rem 0;

  img {
    position: absolute;
    width: 8%;
    z-index: 1;
    opacity: 0.05;
    left: 50%;
  }
  p {
    font-family: "Cookie", cursive !important;
    font-size: 4vw;
    letter-spacing: 3px;
    align-self: center;
  }
}
.whatDrivesUs {
  margin-bottom: 8rem;

  h1 {
    font-weight: 700;
    font-size: 3.5vw;
    text-transform: uppercase;
    color: #222222d7;
    margin-bottom: 3rem;
  }

  li,
  p {
    margin-bottom: 1rem;
    line-height: 1.7rem;
    text-align: justify;
  }

  p {
    margin-top: 3rem;
    text-align: justify;
  }
}
@media (max-width: 1920px) {
  .col2 {
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 59%;
  }
}
@media (max-width: 1366px) {
  .col2 {
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: flex-end;
  }
  img {
    width: 83%;
  }
}
