.Gallery {
  background-color: #fafafa;
  padding-bottom: 1rem;
  padding-top: 1rem;
  height: 100%;
  padding: 1rem;
  font-family: "montserrat";
  .head {
    position: relative;
    color: #e78729;
    max-width: 90%;
    margin: auto;
    height: 200px;
    // background-color: grey;
    .head-background {
      border-radius: 6px;
      position: absolute;
      background-color: #29232396;
      border: 0.5rem solid #f8f9fa;
      width: 100%;
      height: 100%;
      display: flex;
      h1 {
        align-self: center;
        color: #f8f9fa;
        margin: auto;
        font-size: 4rem;
        font-weight: 900;
      }
    }
    .text {
      background: url("../../Assets/image/bottom.jpg");
      background-size: cover;
      width: 100%;
      border-radius: 6px;
      height: 100%;
    }
  }
  .top {
    max-width: 90%;
    margin: auto;
    color: #000;
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 1rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    h3 {
      font-weight: 600;
    }
  }
  .photoFrame {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    max-width: 90%;
    height: 550px;
    background-color: goldenrod;
    border: 0.5rem solid #f8f9fa;
    margin: auto;
    display: flex;
    margin-bottom: 1rem;
    .left {
      width: 50%;
      background-color: red;
      height: 100%;
      border: 1px solid #fff;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .row1 {
        width: 100%;
        height: 65%;
        border: 1px solid #fff;
        .photo1 {
          cursor: pointer;
          border: 4px solid #fff;
          width: 100%;
          height: 100%;
          background-color: #f3e6e3;
          transition: transform 0.5s;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .photo1:hover {
          transform: scale(1.3);
        }
      }
      .row2 {
        width: 100%;
        height: 35%;
        display: flex;
        border: 1px solid #fff;
        .photo2 {
          border: 4px solid #fff;
          width: 50%;
          cursor: pointer;
          height: 100%;
          background-color: #c8d5b9;
          transition: transform 0.5s;
          background-size: cover;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          // background-image: url("../../Assets/image/a2.jpg");
        }
        .photo2:hover {
          transform: scale(2);
        }
      }
    }
    .right {
      border: 1px solid #fff;
      width: 50%;
      height: 100%;
      background-color: #8fc0a9;
      .row1 {
        display: flex;
        width: 100%;
        height: 35%;
        .photo3 {
          width: 50%;
          cursor: pointer;
          height: 100%;
          background-color: #d3c09a;
          transition: transform 0.5s;
          border: 4px solid #fff;
          // background: url("../../Assets/image/a4.jpg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        .photo3:hover {
          transform: scale(2);
        }
      }
      .row2 {
        width: 100%;
        height: 65%;
        display: flex;
        .photo4 {
          width: 50%;
          background-color: #dcd6f7;
          height: 100%;
          cursor: pointer;
          border: 4px solid #fff;
          transition: transform 0.5s;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        .photo4:hover {
          transform: scale(1.5);
        }
      }
    }
  }
  .ph11 {
    background-image: url("../../Assets/image/a1.jpg");
  }
  .ph21 {
    background-image: url("../../Assets/image/a2.jpg");
  }
  .ph22 {
    background-image: url("../../Assets/image/a3.jpg");
  }
  .ph31 {
    background-image: url("../../Assets/image/a4.jpg");
  }
  .ph32 {
    background-image: url("../../Assets/image/a5.jpg");
  }
  .ph41 {
    background-image: url("../../Assets/image/a6.jpg");
  }
  .ph42 {
    background-image: url("../../Assets/image/a7.jpg");
  }
  .ph51 {
    background-image: url("../../Assets/image/a14.jpg");
  }
  .ph61 {
    background-image: url("../../Assets/image/a9.jpg");
  }
}
.ph62 {
  background-image: url("../../Assets/image/a10.jpg");
}
.ph71 {
  background-image: url("../../Assets/image/a11.jpg");
}
.ph72 {
  background-image: url("../../Assets/image/a12.jpg");
}
.ph81 {
  background-image: url("../../Assets/image/a13.jpg");
}
.ph82 {
  background-image: url("../../Assets/image/a6.jpg");
}

.ph91 {
  background-image: url("../../Assets/image/gallery/event1/91.jpg");
}
.ph101 {
  background-image: url("../../Assets/image/gallery/event1/101.jpg");
}
.ph102 {
  background-image: url("../../Assets/image/gallery/event1/102.jpg");
}

.ph111 {
  background-image: url("../../Assets/image/gallery/event1/111.jpg");
}
.ph112 {
  background-image: url("../../Assets/image/gallery/event1/112.jpg");
}
.ph121 {
  background-image: url("../../Assets/image/gallery/event1/121.jpg");
}
.ph122 {
  background-image: url("../../Assets/image/gallery/event1/122.jpg");
}

.ph131 {
  background-image: url("../../Assets/image/gallery/event2/131.jpg");
}
.ph141 {
  background-image: url("../../Assets/image/gallery/event2/141.jpg");
}
.ph142 {
  background-image: url("../../Assets/image/gallery/event2/142.jpg");
}

.ph151 {
  background-image: url("../../Assets/image/gallery/event2/151.jpg");
}
.ph152 {
  background-image: url("../../Assets/image/gallery/event2/152.jpg");
}
.ph161 {
  background-image: url("../../Assets/image/gallery/event2/161.jpg");
}
.ph162 {
  background-image: url("../../Assets/image/gallery/event2/162.jpg");
}

.ph171 {
  background-image: url("../../Assets/image/gallery/event3/171.jpg");
}
.ph181 {
  background-image: url("../../Assets/image/gallery/event3/181.jpg");
}
.ph182 {
  background-image: url("../../Assets/image/gallery/event3/182.jpg");
}

.ph191 {
  background-image: url("../../Assets/image/gallery/event3/191.jpg");
}
.ph192 {
  background-image: url("../../Assets/image/gallery/event3/192.jpg");
}
.ph201 {
  background-image: url("../../Assets/image/gallery/event3/201.jpg");
}
.ph202 {
  background-image: url("../../Assets/image/gallery/event3/202.jpg");
}

.ph211 {
  background-image: url("../../Assets/image/gallery/event4/211.jpg");
}
.ph221 {
  background-image: url("../../Assets/image/gallery/event4/221.jpg");
}
.ph222 {
  background-image: url("../../Assets/image/gallery/event4/222.jpg");
}

.ph231 {
  background-image: url("../../Assets/image/gallery/event4/231.jpg");
}
.ph232 {
  background-image: url("../../Assets/image/gallery/event4/232.jpg");
}
.ph241 {
  background-image: url("../../Assets/image/gallery/event4/241.jpg");
}
.ph242 {
  background-image: url("../../Assets/image/gallery/event4/242.jpg");
}
.ph251 {
  background-image: url("../../Assets/image/gallery/event5/251.jpg");
}
.ph261 {
  background-image: url("../../Assets/image/gallery/event5/261.jpg");
}
.ph262 {
  background-image: url("../../Assets/image/gallery/event5/262.jpg");
}

.ph271 {
  background-image: url("../../Assets/image/gallery/event5/271.jpg");
}
.ph272 {
  background-image: url("../../Assets/image/gallery/event5/272.jpg");
}
.ph281 {
  background-image: url("../../Assets/image/gallery/event5/281.jpg");
}
.ph282 {
  background-image: url("../../Assets/image/gallery/event5/282.jpg");
}
.ph291 {
  background-image: url("../../Assets/image/gallery/event6/291.jpg");
}
.ph301 {
  background-image: url("../../Assets/image/gallery/event6/301.jpg");
}
.ph302 {
  background-image: url("../../Assets/image/gallery/event6/302.jpg");
}

.ph311 {
  background-image: url("../../Assets/image/gallery/event6/311.jpg");
}
.ph312 {
  background-image: url("../../Assets/image/gallery/event6/312.jpg");
}
.ph321 {
  background-image: url("../../Assets/image/gallery/event6/321.jpg");
}
.ph322 {
  background-image: url("../../Assets/image/gallery/event6/322.jpg");
}
.ph331 {
  background-image: url("../../Assets/image/gallery/event7/331.jpg");
}
.ph341 {
  background-image: url("../../Assets/image/gallery/event7/341.jpg");
}
.ph342 {
  background-image: url("../../Assets/image/gallery/event7/342.jpg");
}

.ph351 {
  background-image: url("../../Assets/image/gallery/event7/351.jpg");
}
.ph352 {
  background-image: url("../../Assets/image/gallery/event7/352.jpg");
}
.ph361 {
  background-image: url("../../Assets/image/gallery/event7/361.jpg");
}
.ph362 {
  background-image: url("../../Assets/image/gallery/event7/362.jpg");
}
.ph371 {
  background-image: url("../../Assets/image/gallery/event8/371.jpg");
}
.ph381 {
  background-image: url("../../Assets/image/gallery/event8/381.jpg");
}
.ph382 {
  background-image: url("../../Assets/image/gallery/event8/382.jpg");
}

.ph391 {
  background-image: url("../../Assets/image/gallery/event8/391.jpg");
}
.ph392 {
  background-image: url("../../Assets/image/gallery/event8/392.jpg");
}
.ph401 {
  background-image: url("../../Assets/image/gallery/event8/401.jpg");
}
.ph402 {
  background-image: url("../../Assets/image/gallery/event8/402.jpg");
}

.ph411 {
}
.ph421 {
}
.ph422 {
}

.ph431 {
}
.ph432 {
}
.ph441 {
}
.ph442 {
}
.ph451 {
}
.ph461 {
}
.ph462 {
}

.ph471 {
}
.ph472 {
}
.ph481 {
}
.ph482 {
}
