.warning {
  display: none;
}
.gallery {
  position: relative;
  display: flex;
  background-color: #292323;
  padding-top: 3rem;
  padding-bottom: 2rem;

  .strip {
    display: flex;
    flex-direction: column;
    background: #f89a2e;
    background: linear-gradient(90deg, #f8912c 0%, #fed338 100%);
    width: 10rem;
    height: 600px;
    padding-top: 2rem;
    overflow-y: auto;
    margin: auto;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 1rem;
    .strip-photos {
      list-style: none;
      display: flex;
      align-self: center;
      align-items: center;
      max-height: 2.9rem;
      margin: 1rem;
      img {
        width: 6rem;
        border: 2px solid black;
        transition: transform 0.2s;
        cursor: pointer;
      }
      img:hover {
        transform: scale(1.5);
      }
    }
  }
  .frame {
    background-color: green;
    position: relative;
    display: flex;
    border-radius: 1rem;
    margin: auto;
    .background {
      width: 1000px;
      height: 600px;
      background-size: cover !important;
      border-radius: 1rem;
    }
    .text-over {
      width: 1000px;
      height: 600px;
      align-self: baseline;
      display: flex;
      color: #fff;
      flex-direction: column-reverse;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 6%,
        rgba(0, 0, 0, 0.6362920168067228) 51%,
        rgba(160, 193, 184, 0) 100%
      );
      position: absolute;
      .text {
        display: flex;
        flex-grow: grow;
        margin-bottom: 1rem;
        h5 {
          margin: auto;
          color: #dadada;
        }
      }
    }
  }
}
.heading1 {
  background-color: #292323;
  margin: 0;
  color: #ffc107;
  text-align: center;
  padding-left: 18rem;
  padding-top: 1rem;
  h1 {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 470px) {
  .warning {
    padding-top: 3rem;
    display: block;
    margin-top: 8rem;
    width: 18rem;
    margin: auto;
  }
  .heading1 {
    display: none;
  }
  .gallery {
    display: none;
  }
}
@media (width: 1920px) {
  .gallery {
    .frame {
      .background {
        width: 1500px;
        height: 600px;
      }
      .text-over {
        width: 1500px;
        height: 600px;
      }
    }
  }
}
