@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@media (max-width: 600px) {
  .Membership {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-items: center;
    .title {
      display: flex;
      justify-content: center;
      background-color: #68b0ab;
      margin-bottom: 3rem;
      h2 {
        text-align: center;
        color: #000;
        font-weight: 500;
        font-size: 2.5rem;
        background-color: #fafafa;
      }
    }
    form {
      background-color: #68b0ab;
      .Logo {
        text-align: center;
        margin-top: 1rem;
        display: none;
        img {
          display: none;
          width: 7rem;
          margin-bottom: 1rem;
        }
      }
      // margin-left: 10%;
      // border: 1px solid black;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      align-self: center;
    }
    .Mem {
      input {
        margin: 1rem;
        border: none;
        border: 2px solid #68b0ab;
        outline: none;
      }
      input::placeholder {
        font-family: Lato;
        padding-left: 0.5rem;
      }
      textarea {
        margin: 1rem;
        border: 2px solid #68b0ab;
        outline: none;
      }
      textarea::placeholder {
        padding: 0.5rem;
      }
      select {
        width: 15.8rem;
        margin-right: 4.7rem;
        background-color: #fff;
        font-size: 18px;
        padding-left: 1rem;
        color: grey;
        border: 3px solid #68b0ab;
        padding-bottom: 0.3rem;
      }
    }
    .para {
      // border: 1px solid black;
      display: flex;
      width: 16.5rem;
      margin-left: 1rem;
      input {
        margin: 0;
        padding: 0;
        margin-right: 0.5rem;
        margin-top: 0.2rem;
      }
      p {
        font-size: 12px;
      }
    }
    .submit {
      margin: 1rem;
      button {
        padding: 0.5rem 0 0.5rem 0;
        font-size: 18px;
        width: 16.5rem;
        background-color: transparent;
        border: none;
        background-color: #68b0ab;
        color: #fff;
        cursor: pointer;
      }
      button:hover {
        color: black;
      }
    }
  }
}

@media (min-width: 600px) {
  .Membership {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-bottom: 3rem;
      margin-top: 1rem;
      // color: #f8f9fa;
      // background-color: #292323;
      font-family: "montserrat";
      align-self: center;
      h1 {
        text-align: center;
        color: #000;
        font-weight: 500;
        font-size: 2.5rem;
        background-color: #fafafa;
      }
    }
    form {
      flex-direction: column;
      width: 40vw;
      .pair {
        display: flex;
      }
      .Mem {
        margin-bottom: 2rem;
        input {
          margin-right: 5rem;
          height: 2rem;
          border: none;
          border: 3px solid #68b0ab;
        }
        input::placeholder {
          padding: 1rem;

          font-size: 18px;
        }
        select {
          width: 15.8rem;
          padding: 0.15rem;
          margin-right: 5rem;
          background-color: #fff;
          border: none;
          font-size: 18px;
          padding-left: 1rem;
          color: grey;
          border: 3px solid #68b0ab;
        }
        textarea {
          width: 36.5rem;
          border: 3px solid #68b0ab;
          padding: 1rem;
        }
      }
      .para {
        display: flex;
        input {
          margin: 0;
          padding: 0;
          margin-right: 0.5rem;
          margin-top: 0.3rem;
        }
        p {
          font-family: montserrat;
          font-size: 16px;
          width: 100%;
          text-align: justify;
        }
      }
      .submit {
        button {
          padding: 0.5rem 0 0.5rem 0;
          font-size: 18px;
          width: 16.5rem;
          background-color: transparent;
          border: none;
          background-color: #68b0ab;
          color: #fff;
          cursor: pointer;
        }
        button:hover {
          color: black;
        }
      }
    }
  }
}
.main {
  margin-bottom: 2rem;
  width: 90vw;
  img {
    width: 40vw;
  }
  display: flex;
}
.Logo {
  text-align: center;
  width: 13rem;
  img {
    display: none;
  }
}
