.Nav {
  display: flex;
  justify-content: space-between;
  background-color: #292323;
  border-bottom: 4px solid black;
  .Nav-title {
    margin-left: 1rem;
    // margin-top: 0.5rem;
    display: flex;
    img {
      width: 10rem;
      position: absolute;
      z-index: 1;
      left: -1px;
      top: -13px;
    }
  }
  .Nav-li {
    display: flex;
    justify-content: left;
    z-index: 16;
    a {
      text-decoration: none;
    }
    li {
      z-index: 16;
      list-style: none;
      margin: 1rem;
      text-align: center;
      margin-bottom: 0rem;
      padding: 0.5rem;
      border-radius: 1rem;
      width: 8rem;
      background: linear-gradient(
        90deg,
        rgba(248, 145, 44, 1) 0%,
        rgba(254, 211, 56, 1) 100%
      );
      border: 2px solid #292323;
      cursor: pointer;
      color: #292323;
    }
  }
  .Counter {
    margin: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
    .counter-text {
      p {
        margin: 0;
        font-weight: 600;
        font-size: 0.9rem;
      }
      color: white;
      padding: 0;
      margin: 0;
      line-height: 1rem;
    }
    img {
      margin: 0;
    }
    span {
      margin-right: 0.5rem;
    }
  }
  .Nav-button {
    display: none;
    color: white;
  }
}
@media (max-width: 800px) {
  .Nav {
    .Nav-li {
      display: none;
    }
    .Nav-search {
      display: inline;
    }
    .Nav-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: 2rem;
    }
    .Nav-button-list {
      position: absolute;
      background-color: #292323;
      // border: 1px solid black;
      left: 0%;
      z-index: 3;
      width: 100%;
      top: 6rem;
      a {
        text-decoration: none;
      }
      li {
        list-style: none;
        justify-content: center;
        margin: 0.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        background: linear-gradient(
          90deg,
          rgba(248, 145, 44, 1) 0%,
          rgba(254, 211, 56, 1) 100%
        );
        padding: 0.25rem 0.2rem 0.25rem 0.2rem;
        border: 1px solid #292323;
        cursor: pointer;
        color: #292323;
      }
    }
  }
}
// .list-transition-enter,
// .list-transition-appear {
//   /*We give the list the initial dimension of the list button*/
//   top: 0;
//   width: 120px;
//   max-height: 40px;
//   color: transparent;
//   background-color: #5a564c;
// }
// /* This is where we can add the transition*/
// .list-transition-enter-active,
// .list-transition-appear-active {
//   top: 45px;
//   width: 200px;
//   max-height: 200px;
//   background-color: #9e8949;
//   transition: all 400ms;
// }

// /* This fires as soon as the this.state.showList is false */
// .list-transition-exit {
//   top: 45px;
//   width: 200px;
//   max-height: 200px;
//   background-color: #9e8949;
// }
// /* fires as element leaves the DOM*/
// .list-transition-exit-active {
//   top: 0;
//   width: 120px;
//   max-height: 40px;
//   color: transparent;
//   background-color: #5a564c;
//   transition: all 400ms;
// }
