.Nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  .Nav-title {
    margin-right: 4rem;
    margin-left: 2rem;
    display: flex;
    img {
      width: 6rem;
    }
  }
  .Nav-li {
    display: flex;
    justify-content: left;
    z-index: 16;
    li {
      z-index: 16;
      list-style: none;
      margin: 2rem;
      background-color: #c4c187;
      padding: 0.25rem 1rem 0.25rem 1rem;
      border: 1px solid #dadada;
      cursor: pointer;
      color: #495356;
    }
  }
  .Nav-search {
    margin: 2rem;
  }
  .Nav-button {
    display: none;
  }
}
@media (max-width: 800px) {
  .Nav {
    .Nav-li {
      display: none;
    }
    .Nav-search {
      display: none;
    }
    .Nav-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: 2rem;
    }
    .Nav-button-list {
      position: absolute;
      background-color: #ffff;
      // border: 1px solid black;
      left: 0%;
      z-index: 3;
      width: 100%;
      top: 6rem;
      li {
        list-style: none;
        justify-content: center;
        margin: 0.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: #bdb979;
        padding: 0.25rem 0.2rem 0.25rem 0.2rem;
        border: 1px solid #dadada;
        cursor: pointer;
        color: #495356;
      }
    }
  }
}
