.programs {
  height: 100vh;
  background: #fdfdfd;
  font-family: montserrat;
  .heading {
    background-color: #fdfdfd;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-self: center;
    text-align: center;
    h1 {
      margin: auto;
      width: 10rem;
      font-weight: 500;
      margin-bottom: 2.5rem;
      color: #000;
    }
  }
  .section {
    max-width: 1200px;
    margin-top: 5rem;
    margin: auto;
    padding: 1rem;
    li {
      font-size: 1.6rem;
      color: #f6ab6c;
    }
    p {
      padding: 1rem;
      text-align: justify;
    }
  }
}
.mainPro {
  display: flex;
  width: 90vw;
  margin: auto;
  img {
    width: 40vw;
  }
}
