.about {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    font-family: montserrat;
    font-weight: 500;
    margin-top: 1rem;
  }
  div {
    display: flex;
    margin: 0 2rem 0 2rem;
    p {
      width: 80%;
      margin: auto;
      text-align: justify;
      font-size: 1.2rem;
      font-family: "montserrat";
    }
  }
}

@media (max-width: 800px) {
  .about {
    h1 {
      padding-left: 10%;
    }
    div {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}
