.contact {
  background-color: #fdfdfd;
  height: 100vh;
  h1 {
    width: 15rem;
    margin: auto;
    font-size: 2.5;
    color: #000;
    font-weight: 500;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: montserrat;
  }
  .main {
    display: flex;
    position: relative;
    // flex-direction: column;
    width: 80%;
    margin: auto;
    .main-back {
      width: 100%;
      height: 400px;
    }
    .main-text {
      color: #000;
      width: 100%;
      height: 400px;
      background-color: #fdfdfd;
      align-self: center;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-top: 5rem;
      a {
        text-decoration: none;
        color: #000;
        outline: none;
      }
      li {
        display: flex;
        margin: 0.2rem;
        p {
          margin-left: 1rem;
          letter-spacing: 1px;
        }
      }
    }
  }
}
