.profile {
  display: block;
  background-color: #e7e8f6;
  width: 100%;
  height: 100vmin;
  .profile-title {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #fd51d7, #504cff);
    a {
      text-decoration: none;
      margin: 0.5rem;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.8px;
      margin-left: 2rem;
      margin-bottom: 0.5rem;
      color: #332fde;
    }
    h4 {
      // border: 1px solid black;
      margin: 0.5rem;
      font-size: 20px;
      font-weight: 500;
      // padding: .25rem;
      // font-size: 1.5rem;
      display: flex;
      a {
        text-decoration: none;
        color: #3c2d3e;
      }
      a:hover {
        color: #5f3664;
      }
    }
  }
  .profile-small {
    display: flex;
    margin-left: 15%;
    .profile-small-photo {
      img {
        border-radius: 50%;
        width: 200px;
      }
    }
    .profile-small-id {
      display: block;
      // margin-top: 1rem;
      color: #504cff;
      margin-left: 0.5rem;
      h3 {
        margin-bottom: 0rem;
      }
      p {
        margin-top: 0.6rem;
        margin-left: 1rem;
        color: #fd51d7;
      }
    }
  }
  .profile-main {
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
    justify-content: center;
    width: 100%;
    .profile-main-left {
      display: flex;
      .profile-main-left-list {
        li {
          min-width: 200px;
          list-style: none;
          border: 1px solid #504cff;
          margin: 0.5rem;
          padding: 0.25rem;
          color: #e7e8f6;
          background-color: #fd51d7;
        }
        li:hover {
          background-color: #504cff;
        }
      }
      .profile-main-left-line {
        background-color: grey;
        width: 1px;
        height: 100%;
      }
    }
    .profile-main-right {
      margin-left: 0.5rem;
      width: 60%;
      .profile-main-right-horizontal {
        display: flex;
        flex-wrap: wrap;
        // border:1px solid black;
        // margin-bottom: 2REM;
        div {
          border: 1px solid transparent;
          margin: 0.5rem;
          margin-top: 0;
          color: #e7e8f6;
          background-color: #504cff;
          padding: 0.25rem;
          h4 {
            margin: 0;
            font-weight: 500;
          }
        }
        div:hover {
          border: 1px solid #fd51d7;
          background-color: #fd51d7;
          color: #504cff;
        }
      }
      .profile-main-right-data {
        // margin-left: 1.2rem;
      }
    }
  }
}
